@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddfeb;
}
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: linear-gradient(45deg, #FCA5F1, #B5FFFF);
    padding: 30px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.heading {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-bottom: 50px;
}
label {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  color: #fff;
}

.start-screen .btn {
  margin-top: 50px;
}
.hide {
  display: none;
}

.btn {
  width: 100%;
  height: 60px;
  background: #a890fe;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s linear;
}
.btn:hover {
  background: #a890fe;
}
.btn:disabled {
  background: #576081;
  cursor: not-allowed;
}
.btn.next {
  display: none;
}

.preload {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; 
    transition: opacity 0.5s ease, visibility 0.5s ease; 
  }
  
  .preload .circle {
    width: 50px; 
    height: 50px; 
    border: 5px solid #3498db; 
    border-top: 5px solid #f3f3f3;
    border-radius: 50%; 
    animation: spin 1s linear infinite; 
  }
  
  .preload .text {
    margin-top: 20px; 
    font-size: 1.5rem; 
    color: #3498db; 
  }
  
  /* Ключевые кадры для анимации вращения */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .preload.hidden {
    opacity: 0; 
    visibility: hidden;
  }
  


/* Для мобильных устройств */
@media (max-width: 767px) {
    .header {
        font-size: 16px;
    }
}

/* Для планшетов и больших экранов */
@media (min-width: 768px) {
    .header {
        font-size: 24px;
    }
}
